$colorMain: #137bf8;

$colorWhite: #fff;
$colorGray: #cccccc;
$colorRed: #ff0505;
$colorGreen: #07a01b;
$colorLine: #eeeeee;
$colorBgMain: #f9f9f9;
$colorBgMainHoverFocus: #f2f2f2;
$colorText: #333333;

$colorGrayStrong: #777575;
$colorBlue: #1478ff;
$colorBlueStrong: #ffffff;
$colorOrange: #ff5e00;
$colorYellow: #ddc915;
$colorBlack: #000;
